<!-- NAV BAR -->
<div class="block">
    <div class="navbar is-primary">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><img src="/assets/img/keblelogo.png" alt=""></a>
            <div class="navbar-item"><h3 class="">Keble College</h3></div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="/news"><h4>News</h4></a>
            </div>
            <div class="navbar-item">
                <a href="/timetable"><h4>Timetable</h4></a>
            </div>
            <div class="navbar-item">
                <a href=""><h4>JCR</h4></a>
            </div>
        </div>
    </div>
</div>