<!-- NAV BAR -->
<div class="block">
    <div class="navbar is-primary">
        <div class="navbar-brand">
            <a href="/" class="navbar-item"><img src="/assets/img/keblelogo.png" alt=""></a>
            <div class="navbar-item"><h1 class="title has-text-white">Keble College </h1></div>
        </div>
        <div class="navbar-end is-hidden-touch">
            <div class="navbar-item">
                <a href="/login">Login</a>
            </div>
            <div class="navbar-item">
                <a href="/news">News</a>
            </div>
            <div class="navbar-item">
                <a href="/timetable">Timetable</a>
            </div>
            <div class="navbar-item">
                <a href="">JCR</a>
            </div>
        </div>
    </div>
</div>