/* You can add global styles to this file, and also import other style files */
@import "initial-variables";
@import "functions";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// Color Palette
$keble-red: #B72025;
$keble-blue: #1E4F6E;
$keble-yellow: #FFCB00;

// Bulma Variables
$primary: $keble-blue;
$link: $keble-yellow;
$danger: $keble-red;

$family-primary: 'Source Sans Pro';

@import "bulma";